
.ion-button{
    width: 33%;
    // color:#92c7ca;
    color:rgb(135, 122, 122);
    
    background-color: white;
}

.ion-button2{
margin-left: 25px;
}


.color{
    --ion-background-color: #495353;
}

.img2 {
    height: 200px;
    margin-right: 600px;
}

.borde{
    // border: 2px solid white;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.borde2{
    // border: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

}

.colorLetra{
    color: white;
}

.colorLetra2{
    // color: rgb(135, 122, 122);
    color: white;

}